# PadChest (BIMCV) download link(s). The BIMCV license forbids redistribution,
# so the URL is read from the environment by xai_datasets/download_padchest.py
# and must NOT be hard-coded in the repo. Comma-separated for multi-part archives.
PADCHEST_DOWNLOAD_URL=